/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 55px;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 35%;
}

.rightnav {
  display: flex;
  justify-content: space-between;
  width: 30%;
  /* border: 1px solid red; */
  align-items: center;
}

.navigations {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
}

/* Register/login */

.registerScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid red; */
}

.loginContainer {
  width: 35%;
  height: 50%;
  border: 5px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 15px 2px 15px grey;
}

.registerContainer {
  width: 35%;
  height: 75%;
  border: 5px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 15px 8px 25px grey;
}

form {
  width: 90%;
  margin: auto;
}

input {
  width: 100%;
  height: 45px;
  margin: 4% 0;
  padding-left: 3%;
  border: none;
  border-bottom: 1px solid grey;
  background-color: aliceblue;
}

input[type="submit"] {
  background-color: aqua;
  font-weight: bolder;
  font-size: 1.2em;
}

/* Home */

.homeContainer {
  text-align: center;
}
.loginlogout {
  width: 25%;
  height: 45px;
}
